h1 {
    font-size: 4rem;
   font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p,ul,ol{
    font-size: 1.75rem;
    font-family: 'Open Sans', sans-serif;
}

p{
    text-align: center;
}

@media (max-width: 767px){
    h1,h2{
        font-size:3rem;
    }
    h3{
        font-size:2rem;
    }
    p,ul,ol{
        font-size: 1.5rem;
    }
}

.coloredcontainer{
    color:white;
}

main .container{
    padding: 4em;
}

.coloredcontainer > .container {
    background-color: #551A8B;
}

@media (max-width: 767px){
    main .container{
        padding: 2em 10px;
    }
}

#swiper{
    padding: 0px;
}


#logo {
    height: 2em;
}

#donate{
    background: red;
    margin-left: 1em;
    border-radius: 30px;
    border-style: none;
    padding: 0 0.5em;
}   


#spacer {
    height: 5em;
}



@media (max-width: 767px) {
    .form {
        height: 700px;
    }
}

.form {
    height: 1400px;
}

ul.nav a:link,ul.nav a:visited{
    color: #551A8B;
    text-decoration: none;
}



a,#blogcontainer .blog-item:nth-child(odd) a{
    color: #551A8B;
}

.coloredcontainer a,a:hover,#blogcontainer .blog-item:nth-child(odd) a:hover,#blogcontainer .blog-item:nth-child(even) a{
    color:#ff0000;
    text-decoration: none;
}

.coloredcontainer a:hover,#blogcontainer .blog-item:nth-child(even) a:hover{
    color:white;
    text-decoration: none;
}









img.parents {
    max-width:100%;
}

.executive img{
    max-height: 500px;
    width: 65%;
    margin: auto;
    display: block;
    background: #DDDDDD;
    padding: 5px;
}
@media (max-width: 767px){
    .executive img{
        width: 50%;
    }
}

.executive h3{
    margin: 0.5em;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.executive p{
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 0 1em;
    margin-bottom: 2em;
}

hr {
    margin: 4em auto;
    height: 2px;
    background: #551A8B;
}





/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Blog Content
*/
#blog-banner {
    margin-top: 5em;
}
.date-location {
    text-align: center;
    font-size: 1.2em;
    margin: 1em 1em;
    font-family: "Caviar Dreams";
    font-weight:bold;
}

.date-location span {
    padding: 0 1em;
}

.blog-icons {
    width: 3.5%;
    vertical-align: middle;
}

.blog-item {
    margin-top: 3em;
    padding: 2em 0px;
    
}



#blogcontainer .blog-item:nth-child(odd){
    background-color: #F0F0F0;
    color: black;  
}
#blogcontainer .blog-item:nth-child(odd) #date{
    content:url("../img/blog-imgs/blog-icons/calendar-black.png");
}
#blogcontainer .blog-item:nth-child(odd) #location{
    content:url("../img/blog-imgs/blog-icons/location-black.png");
}



#blogcontainer .blog-item:nth-child(even){
    background-color: #551A8B;
    color: white;
}

#blogcontainer .blog-item:nth-child(even) #date{
    content:url("../img/blog-imgs/blog-icons/calendar-white.png");
}
#blogcontainer .blog-item:nth-child(even) #location{
    content:url("../img/blog-imgs/blog-icons/location-white.png");
}



.blog-content {
    margin-top: 2em;
    text-align: center;
}

#blogcontainer{
    padding: 0px;
}

.blog-content p {
    text-align: justify;
    display: inline-block;
    vertical-align: middle;  
    font-size: 1.2em;
    padding: 2em;
    width: 80%;
}

@media (max-width: 767px){
    .blog-content p{
        width: 100%;
    }
    .blog-content{
        margin: 2em 0px;
    }
}


span{
    white-space: nowrap;
}

#warning{
    color: red;
}

.circle {
    background: red;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
    font-size: 4rem;
}

#team-red{
    background:red;
}
#team-blue{
    background:blue;
}
#team-black{
    background:black;
}
#team-green{
    background:green;
}
#developer{
    margin: auto;
}

.tips p,.tips h3,.tips h2{
    text-align: left;
}

.tips h3{
    font-weight: bold;
}
.tips h2{
    color: #551A8B;
}
